#!/bin/bash

set -x

# Check arguments
if [[ -z "$2" ]]; then
	echo "Usage: $ sladduser username ssh@key"
	exit 1
fi

# Get variables
SLUSR="$1"
SLKEY="$2"
SLDIR="{{ jasmin_homedir }}/$SLUSR"

# Add user
if useradd -d $SLDIR $SLUSR; then
	# Propagate user to compute nodes
	srun -N* useradd -u $(id -u $SLUSR) -d $SLDIR $SLUSR
fi

# Install SSH key
install -o $SLUSR -g $SLUSR -m 700 -d $SLDIR/.ssh
install -o $SLUSR -g $SLUSR -m 600 <(echo $SLKEY) $SLDIR/.ssh/authorized_keys
